APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:your-app-key-here
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=pusher
CACHE_STORE=database
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

PUSHER_APP_ID=your-pusher-app-id
PUSHER_APP_KEY=457df54d0b56682441fc
PUSHER_APP_SECRET=your-pusher-app-secret
PUSHER_APP_CLUSTER=ap2

VITE_APP_NAME=
VITE_PUSHER_APP_KEY=
VITE_PUSHER_APP_CLUSTER=
